.acc {
   padding-right: 8rem;
}
.bg-diff {
  background-color: #79e415;
  opacity: 0.5;
}
img {
  width: 45%;
  margin-left: 3.5rem;
}
#overlap {
  position: absolute;
}
.jumbo-bg {
  background-color: #fafafa;
}
.btn-outline-success {
  border-color: #21b6a8 !important;
  border-width: 1.6px !important;
  color: #21b6a8 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.btn-outline-success:hover {
  background-color: #21b6a8 !important;
  color: white !important;
}
body {
  width: 95%;
  margin: auto !important;
  font-family: 'Montserrat', sans-serif;
}
.textcol {
  color: #21b6a8;
}
.fo {
  color: #afafaf;
  font-size: 15px;
}
h5 {
  font-size: 1.15rem !important;
}
.nav-tabs, .nav-link {
  border: none !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.color1 {
  background-color: white;
}
.color2 {
  background-color: white;
}
.act {
  border-right-color: #21b6a8 !important;
  border-right-style: solid !important;
  border-right-width: 3px !important;
}
#floating {
  float: left;
  width: 4.5rem;
  /* margin-left: 2rem; */
  margin-right: 1.3rem;
}
.card-deck {
  display: flex;
  flex-direction: column !important;
}
.card {
  border: none !important;
}
.icon-bar {
  /* width: 3rem; */
  background-color: #fff;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px 0px 16px 0px;
  transition: all 0.3s ease;
  color: #21b6a8;
  font-size: 22px;
}
.bar {
  color: #21b6a8;
}
.icon-1 {
  padding-top: 6.5rem;
}
.icon-3 {
  padding-bottom: 124rem;
}
.py {
  padding: 3.5rem 0rem 3.5rem 0rem;
}
.padnda {
  border-radius: 100%;
  background-color: #21b6a8;
}

span.fa-circle{
  position: absolute;
  font-size: 0.8em;
  top: 8px;
  color: red;
  right: 188px;
}
span.num1 {
  position: absolute;
  font-size: 0.45em;
  top: 12px;
  color: #fff;
  right: 190px;
}
.bg-light {
  background-color: #fdfdfd !important;
}
